/*
PW colors
Rouge foncé   #c31d29
Rouge clair   #e91c2c
Jaune-Orange  #dc7e2a
Jaune         #fec83b
Noir 80%      #303030
Noir 50%      #818181
*/

@font-face {
    font-family: 'gothambook';
    src: url('../fonts/gothambook.eot');
    src: url('../fonts/gothambook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothambook.woff2') format('woff2'),
         url('../fonts/gothambook.woff') format('woff'),
         url('../fonts/gothambook.ttf') format('truetype'),
         url('../fonts/gothambook.svg#gothambook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gothambold';
    src: url('../fonts/gothambold.eot');
    src: url('../fonts/gothambold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothambold.woff2') format('woff2'),
         url('../fonts/gothambold.woff') format('woff'),
         url('../fonts/gothambold.ttf') format('truetype'),
         url('../fonts/gothambold.svg#gothambold') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,
body {
  font-family: "gothambook",Helvetica,Arial,sans-serif;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background: url('../media/img/interface/main_background.png') repeat;
}
body {
  /*padding-top: 70px;*/
  padding-top: 100px;
  font-size: 16px;
}
a, a:hover {color: #559dba; }
footer {
  padding: 30px 0;
}
h6, h5, h4, h3, h2, h1{
  text-align: left;
}
h5{
  font-size: 16px;
}
strong{
    font-family: "gothambold",Helvetica,Arial,sans-serif;
}
/*ancres : compensation du margin-top du body pour la navbar*/
a[name] {
  padding-top: 100px;
  margin-top: -100px;
  display: inline-block; /* required for webkit browsers */
}
/*ancres*/
.page a, .page a:hover, .news-home a, .news-home a:hover, .list-agenda-home a, .list-agenda-home a:hover, .ui-widget-content a, .ui-widget-content a:hover {color: #559dba;}
.page img { height: auto; max-width: 100%; }/*RESPONSIVE IMG DANS PAGE */
a.ue {padding: 2px 0px 2px 40px; background: url('../media/img/interface/logo_ue_mini.gif') no-repeat right;}
#page a.partis_groupes {color: #ffffff;text-decoration: underline;}
#page a.pdf, #page a.pdf:hover {color: #A0000C;}
a.lien-avis, a.lien-avis:hover{color:#C46700}
.icon-help {color: #dbdbdb;}
.icon-link{display: inline-block;}/*POUR BUG LIEN ICONE SUR SAFARI*/
.text-pw-red {color: #c31d29;}
.text-pw-darkred {color: #c31d29;}
.text-pw-yellow {color: #fec83b;}
.text-pw-yellow-orange {color: #dc7e2a;}
.text-pw-grey {color: #818181;}
.text-pw-dark-grey {color: #303030;}
.text-pw-lightblue {color: #417d8c;}
.text-pw-blue {color: #2E5A65;}
.text-pw-dark-blue {color: #1F3A40;}
.text-pw-date{color: #0D9315;}
.text-pw-today{color: #c31d29;}
.legend {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
/*IMG*/
.img-responsive{
  width: inherit;/*for IE8*/
}
/*MARGIN PADDING*/
.post img{margin: 4px;}/*marge des images dans les posts*/
.espace-top-sm{margin-top: 5px;}
.espace-top{margin-top: 10px;}
.espace-top-bg{margin-top: 15px;}
.espace_top-vbg{margin-top: 30px;}
.espace-bottom-sm{margin-bottom: 5px;}
.espace-bottom{margin-bottom: 10px;}
.espace-bottom-bg{margin-bottom: 15px;}
.espace_gauche{margin-left: 10px;}
.espace_gauche-sm{margin-left: 5px;}
.espace_droite{margin-right: 10px;}
.espace_droite-sm{margin-right: 10px;}
.espace-all{margin: 10px;}
.espace-all-bg{margin: 30px;}
.espace_in_top{padding-top: 10px;}
.espace_in_sm{padding: 5px;}
.espace_in_tb_sm{padding-top: 5px;padding-bottom: 5px;}
.espace_in_lr_sm{padding-left: 5px;padding-right: 5px;}
.espace_in_gauche{padding-left: 10px;}
.padding-l-zero{padding-left: 0px;}
.padding-r-zero{padding-right: 0px;}
.padding-lr-zero{padding-right: 0px;padding-left: 0px;}
.margin-lr-zero{margin-right: 0px;margin-left: 0px;}

/*LABELS*/
.label-pw {background: #E1A200;font-size: 100%;font-weight: normal;}
.label-rg-wallonne {background: #cd3636;font-size: 100%;font-weight: normal;}
.label-rg-flam {background: #ead80a;font-size: 100%;font-weight: normal;c}
.label-rg-bxl {background: #1a51a7;font-size: 100%;font-weight: normal;}
.label-com-germa {background: #7e0702;font-size: 100%;font-weight: normal;}

#print_container {padding:10px;}
#print_container H5{font-size: 1em;}
blockquote p{font-size: 1em;font-weight: normal;}
.blockquote-light {font-size: 1em;font-weight: normal;}

/*NAV BRAND HOME*/
.navbar-brand{
	/*border-left: 8px solid #006168;*/
  /*border-left: 8px solid #C40009;*/
	padding: 0;
}
.navbar-brand img{
  padding-top: 3px;
}
/*NAV BRAND PAS HOME*/
/*.navbar-brand{
	padding-left: 45px;
	background: url('../media/img/interface/logo_pw_home_mini.gif') no-repeat;
}*/
#navbar1 li a{
	font-size: 16px;
	padding-left: 8px;
	padding-right: 8px;
}
.navbar-toggle .glyphicon{
  width: 35px;
  font-size: 17px;
}
#navbar2{margin-left: -15px;}
#navbar2 .dropdown-toggle{font-size: 18px;}
#navbar2 .dropdown-menu{font-size: 18px;}
#navbar2 .dropdown-header{font-size: 14px;}
#navbar2 .list-inline li{padding-left: 25px;}
#navbar2 .navbar-nav>li>a{padding-top: 25px;padding-bottom: 3px;}
/*#menu-titre-compo{border-left: 8px solid #006168;}*/
/*#menu-titre-travaux{border-left: 8px solid #006168;}*/
/*#menu-titre-agenda{border-left: 8px solid #006168;}*/
/*#menu-titre-parlement{border-left: 8px solid #006168;}*/
/*#menu-titre-inter{border-left: 8px solid #006168;}*/
/*NV CHARTE*/

#menu-titre-travaux, #menu-titre-parlement, #menu-titre-avis{
background: url('../media/img/interface/deg-v-orgclair-orgfon.gif') no-repeat;
}
/*#navbar2 .navbar-nav>.open>a{
background: url('../media/img/interface/deg-v-orgclair-orgfon.gif') no-repeat;
}*/
#menu-titre-compo, #menu-titre-agenda, #menu-titre-inter{
background: url('../media/img/interface/deg-v-rgclair-rgfon.gif') no-repeat;
}
.zone-seance{
	background: #ffffff;
	padding: 8px 8px 2px 8px;
	margin-top: 160px;
}
.zone-breadcrumb
{
	background: #ffffff;
	padding: 10px 0px 10px 0px;
}
.page-titre{
	font-size: 18px;
	color:#2E5A65;
	padding: 5px 0px 0px 8px;
}
/*#navbar2 .dropdown-toggle{border-bottom: 2px solid #f6f6f6;}*/
.col{
	padding-left: 0;
	padding-right: 0;
}
/*.pw-news-home{height:480px;overflow: hidden;}*/
#banner{
	padding-left: 0;
	padding-right: 0;
}
#banner img{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.page{
	background: #ffffff;
	text-align: justify;
	padding-top: 10px;
	padding-bottom: 10px;
}
.page h5{
	color: #18949D;
}
.dep-search-home{
margin-top : 10px;
margin-bottom : 10px
}
/*///AGENDA HOME///*/
.titre-zone-seance-home{
	font-size: 18px;
}
.zone-seance-home, .zone-agenda-home, .zone-avis{
	font-size: 16px;
	padding: 8px;
	background-color: #ffffff;
}
.zone-agenda-home h4{
	margin-top: 2px;
}
.zone-avis{
	margin-bottom: 5px;
}
.zone-avis h4{
	color: #c31d29;
}
.zone-agenda-home-content{
	/*height: 135px;*/
  max-height: 135px;
	overflow: auto;
}
.zone-agenda-home-loader{
  background-color: #ffffff;
}
/*///PROMO///*/
.promo-container{
  background-color: #ffffff;
  max-height:120px;
  margin-bottom: 5px;
}
/*///COMMUNICATIONS///*/
.zone-communication{
  background-color: #ffffff;
  margin : 5px 0px 5px 0px;
  padding: 8px;
}
.titre-communication {
  font-size: 18px;
  font-weight: 500;
  /*color: #3b7280;*/
}
.zone-communication a{
  margin: 0px 15px 0px 5px;
  white-space: nowrap;
}
/*///NEWS///*/
.post{
  overflow:auto;/*ENITE LE DEPASSEMENT DES IMAGES EN BAS*/
}
.zone-news-home{
	padding: 2px;
	text-align: justify;
}
.bckg-news-zones{
	background: #ffffff;
	padding: 8px 8px 20px 8px;
}
#archives-link-zone{
	background-color: #ffffff;
	padding: 2px 0px 2px 8px;
	margin-top : 4px;
}
.wp-caption-text{font-size: 0.8em;font-style: italic;padding: 0 4px 0 4px;}
/* Classes des images WORDPRESS*/
.alignleft{ display:inline; float:left;}
.aligncenter{ clear:both;	display:block; margin-left:auto; margin-right:auto;}
.alignright{ display:inline; float:right;}
.navbar-default .navbar-brand{
	color: #006168;
	font-size: 22px;
}
.gallery{
  margin-top:30px !important;/*espace haut pur galeries dans posts*/
}
/*///PARLEMENTAIRES///*/
.ui-autocomplete{/*z-index de la liste autocomplete des députés*/
  z-index: 2000 !important;
}
.mini_fiche_parl .panel-heading, .mini_fiche_parl .panel-body, .mini_fiche_parl .panel-footer{
  padding: 5px;
}
.mini_fiche_parl .panel-heading{
  text-align: left;
}
.mini_fiche_parl .burconf{
  height: 80px;
}
.mini_fiche_parl .parl-fonctions{
  font-size: 14px;
}
.mini_fiche_parl .panel-body{
  height:100px;
  text-align: left;
}
.mini_fiche_parl .panel-footer{
  height: 30px;
}/*hauteur si pas d'icônes*/
.mini_fiche_parl .panel-footer i{
  margin: 0px 10px 0px 10px;
}
/*///PARTIS///*/
.PS{color:#f61806;}
.MR{color:#176ca7;}
.ECOLO{color:#8DC540;}
.cdH{color:#f87d00;}
.ptb_go{color:#FF1923;}
.PP{color:#763078;}
.independant{color:#303030;}

.progress-partis {height:40px;}
.progress-bar-ps {background-color: #f61806;}
.progress-bar-mr {background-color: #176ca7;}
.progress-bar-ecolo {background-color: #8DC540;font-size: 10px;}
.progress-bar-cdh {background-color: #f87d00;}
.progress-bar-others {background-color: #A7A7A7;}

/*FORMULAIRE*/
label.error{/*erreur de validation*/
  color: #A0000C;
  padding-top:5px;
}
label.valid{/*erreur de validation*/
  color: #22cb24;
  height:5px;
  background-color:#26ec15;
  padding-top:5px;
  background: url('../media/img/interface/dida_rep_fl.gif') no-repeat;
  display: block;
}

/*///PODCAST///*/
#zone_pod_pub{max-height: 150px;overflow: auto;}
.podcast-texte{
  background-color: #ffffff;
  border-bottom: 1px solid #f6f6f6;
  border-top: 1px solid #e3e3e3;
  text-align: justify;
}
#podcast-av-liens{
  background: #f6f6f6;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
  font-size: 14px;
}
#podcast-titre-audio, #podcast-titre-video{height: 63px;border: none;}
#podcast-titre-audio{
	background: url('../media/img/interface/pod_audio.gif') no-repeat 50% 0%;
}
#podcast-titre-video{
	background: url('../media/img/interface/pod_video.gif') no-repeat 50% 0%;
}
#pw_google_map_navig{
	background-color: #ffffff;
	font-size: 1em;
	padding: 20px;
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: "gothambook",Helvetica,Arial,sans-serif;
}
.container_player{
  max-width: 360px;
}
.container_player_qhd{
  max-width: 640px;
}
/*///QR CODES///*/
#pw_qr .modal-header{border:none;}
#pw_qr .modal-body #qr_container{width:200px;margin-left: auto;margin-right: auto;}
#pw_qr .modal-body, #pw_qr .modal-footer{text-align:center;border:none;}
/*///VISITE VIRTUELLE///*/
/*#vv_txt_infos{max-height: 500px;overflow: auto;}*/
			@-ms-viewport { width: device-width; }
			/*@media only screen and (min-device-width: 800px) { html { overflow:hidden; } }//probl de scroll*/
			/** { padding: 0; margin: 0; }*/
			html { height: 100%; }
			/*body { height: 100%; overflow:hidden; background-color:#ffffff; color:#000000}//probl de scroll*/
			div#container { height: 100%; min-height: 100%; width: 95%; margin: 0 auto; }
			div#tourDIV {
				height:500px;
				/*width:100%;*/
				position:relative;
				overflow:hidden;
			}
			div#panoDIV {
				height:100%;
				position:relative;
				overflow:hidden;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-o-user-select: none;
				user-select: none;
			}
/*////////*/

/*///FOOTER///*/
#footer{
	/*height: 50px;*/
	margin-top: 10px;
	background-color: #f0f0f0;
	color: #4E4E4E;
	font-size: 0.8em;
	text-align: center;
}
#footer p{
  text-align: center;
}
#footer a, #footer a:hover {
  color: #777777;
}
/*///HAUT DE LA PAGE///*/
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #1F3A40;
    padding: 10px 10px 5px 10px;
    background-color: #ffffff;
    font-size: 24px;
    /*padding: 1em;*/
    display: none;
}
/*///DIVERS///*/
.ui-accordion h3{
  font-size: 16px;
}
.ui-accordion-content p{
  font-size: 14px;
}
/*//UPLOAD//*/
.ajax-file-upload-statusbar {
border: 1px solid #0ba1b5;
margin-top: 10px;
width: 550px;
margin-right: 10px;
margin: 5px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 5px 5px 5px 5px
}
.ajax-file-upload-filename {
width: 100%;
height: auto;
margin: 0 5px 5px 10px;
color: #807579
}
.ajax-file-upload-progress {
margin: 0 10px 5px 10px;
position: relative;
width: 250px;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block
}
.ajax-file-upload-bar {
background-color: #0ba1b5;
width: 0;
height: 20px;
border-radius: 3px;
color:#FFFFFF;
}
.ajax-file-upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.ajax-file-upload-red {
-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
box-shadow: inset 0 39px 0 -24px #e67a73;
background-color: #e4685d;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
text-shadow: 0 1px 0 #b23e35;
cursor: pointer;
vertical-align: top;
margin-right:5px;
}
.ajax-file-upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
margin-right:5px;
}
.ajax-file-upload {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
   font-weight: bold;
	padding: 15px 20px;
	cursor:pointer;
	line-height:20px;
	height:25px;
	margin:0 10px 10px 0;
  display: inline-block;
  background: #fff;
  border: 1px solid #e8e8e8;
  color: #888;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 2px 0 0 #e8e8e8;
  -webkit-box-shadow: 0 2px 0 0 #e8e8e8;
  box-shadow: 0 2px 0 0 #e8e8e8;
  padding: 6px 10px 4px 10px;
  color: #fff;
  background: #2f8ab9;
  border: none;
  -moz-box-shadow: 0 2px 0 0 #13648d;
  -webkit-box-shadow: 0 2px 0 0 #13648d;
  box-shadow: 0 2px 0 0 #13648d;
  vertical-align:middle;
  }

.ajax-file-upload:hover {
      background: #3396c9;
      -moz-box-shadow: 0 2px 0 0 #15719f;
      -webkit-box-shadow: 0 2px 0 0 #15719f;
      box-shadow: 0 2px 0 0 #15719f;
}

.ajax-upload-dragdrop
{
	border:2px dotted #A5A5C7;
	width:100%;
	color: #666666;
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 0px 10px;
  display: block;
}
.ajax-file-upload-statusbar{
  width:100%;
}
.ajax-file-upload-error{
  background-color:#b23e35;
  padding: 5px;
  color: #ffffff;
}
/*///MEDIA QUERIES///*/

@media screen and (min-width: 992px) and (max-width: 1199px) {

  .navbar-default .navbar-brand{
  	font-size: 20px;
  }
  #navbar1 li a{
    font-size: 14px;
  	padding-left: 5px;
  	padding-right: 5px;
  }
  #navbar2 .dropdown-toggle {
		font-size: 16px;
	}
  #navbar2 .dropdown-menu{
    font-size: 16px;
  }

}

/*TABLETTES (sm)*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	body {
  	padding-top: 90px;
	}
	.navbar-default .navbar-brand{
		font-size: 16px;
	}
  #menu-titre-compo, #menu-titre-travaux, #menu-titre-agenda, #menu-titre-parlement, #menu-titre-inter, #menu-titre-avis{
  padding-left: 8px;
  }
	#navbar2 .dropdown-toggle {
		font-size: 13px;
	}
  #navbar2 .dropdown-menu{
    font-size: 13px;
  }
	.nav>li>a {
  	padding: 10px 4px;
	}
  #navbar1 li a{
    font-size: 11px;
  	padding-left: 3px;
  	padding-right: 3px;
  }
  #navbar1 .navbar-nav{
  padding-top:5px;
  }
  .mini_fiche_parl .panel-body{
    height:110px;
    /*font-size: 14px;*/
  }
}
/*SMARTPHONES (xs)*/
@media screen and (max-width: 767px) {

	body {
  		padding-top: 50px;
	}
	.navbar-default .navbar-brand{
		font-size: 14px;
    margin:2px 0 0 2px;
	}
  .navbar-default .navbar-brand img{
		width:180px;
	}
	#navbar2 .dropdown-toggle {
		font-size: 16px;
	}
  #navbar1 li a{
    font-size: 16px;
  }
  .navbar-header .navbar-toggle{
    padding: 5px 5px;
  }
	.page-titre {
		font-size: 14px;
		padding-bottom: 5px;
	}
	.titre-zone-seance-home {
  		font-size: 16px;
	}
	.zone-seance-home {
  		font-size: 14px;
	}
	.list-agenda-home {
  		font-size: 14px;
	}
	.h4, h4 {
  		font-size: 16px;
	}
	blockquote {
		font-size: 14px;
	}
  ul{
    padding-left: 25px
  }
  #podcast-titre-audio{
  	background-size: contain;
  }
  #podcast-titre-video{
    background-size: contain;
  }
  .mini_fiche_parl .panel-body{
    height:110px;
  }
  .mini_fiche_parl .burconf{
    height: 92px;
  }
}
@media print {
  a[href]:after {
    content: none;
  }
  @page{
    margin:0.5cm;
  }
  .container {
  width: auto;
}
  body{
  width:100%
  }
  .navbar {
    display: block;
  }
  h4{
    page-break-before:avoid;
  }
}
/*@media print {

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666667%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-2 {
      width: 16.66666667%;
    }
    .col-sm-1 {
      width: 8.33333333%;
    }
    .col-sm-pull-12 {
      right: 100%;
    }
    .col-sm-pull-11 {
      right: 91.66666667%;
    }
    .col-sm-pull-10 {
      right: 83.33333333%;
    }
    .col-sm-pull-9 {
      right: 75%;
    }
    .col-sm-pull-8 {
      right: 66.66666667%;
    }
    .col-sm-pull-7 {
      right: 58.33333333%;
    }
    .col-sm-pull-6 {
      right: 50%;
    }
    .col-sm-pull-5 {
      right: 41.66666667%;
    }
    .col-sm-pull-4 {
      right: 33.33333333%;
    }
    .col-sm-pull-3 {
      right: 25%;
    }
    .col-sm-pull-2 {
      right: 16.66666667%;
    }
    .col-sm-pull-1 {
      right: 8.33333333%;
    }
    .col-sm-pull-0 {
      right: auto;
    }
    .col-sm-push-12 {
      left: 100%;
    }
    .col-sm-push-11 {
      left: 91.66666667%;
    }
    .col-sm-push-10 {
      left: 83.33333333%;
    }
    .col-sm-push-9 {
      left: 75%;
    }
    .col-sm-push-8 {
      left: 66.66666667%;
    }
    .col-sm-push-7 {
      left: 58.33333333%;
    }
    .col-sm-push-6 {
      left: 50%;
    }
    .col-sm-push-5 {
      left: 41.66666667%;
    }
    .col-sm-push-4 {
      left: 33.33333333%;
    }
    .col-sm-push-3 {
      left: 25%;
    }
    .col-sm-push-2 {
      left: 16.66666667%;
    }
    .col-sm-push-1 {
      left: 8.33333333%;
    }
    .col-sm-push-0 {
      left: auto;
    }
    .col-sm-offset-12 {
      margin-left: 100%;
    }
    .col-sm-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
      margin-left: 75%;
    }
    .col-sm-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
      margin-left: 50%;
    }
    .col-sm-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
      margin-left: 25%;
    }
    .col-sm-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
      margin-left: 0%;
    }
    .visible-xs {
      display: none !important;
    }
    .hidden-xs {
      display: block !important;
    }
    table.hidden-xs {
      display: table;
    }
    tr.hidden-xs {
      display: table-row !important;
    }
    th.hidden-xs,
    td.hidden-xs {
      display: table-cell !important;
    }
    .hidden-xs.hidden-print {
      display: none !important;
    }
    .hidden-sm {
      display: none !important;
    }
    .visible-sm {
      display: block !important;
    }
    table.visible-sm {
      display: table;
    }
    tr.visible-sm {
      display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
      display: table-cell !important;
    }
  a[href]:after {
    content: none;
  }
  .navbar {
    display: block;
  }
}
*/
